*{
    font-family: 'Open Sans';
}

.bg{
    background: url(../img/jpg/main-bg.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    
}

.main-content{
    margin-top: 20px;
    margin-bottom: 20px;
    margin:0;
}

.container{
    width: 70%;
	margin: 0 auto;
}

.main-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 3em;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 10%;
}